.heading {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.content-head {
    margin-bottom: 20px;
    font-size: 22px;
}

.contact-details span {
    margin-right: 10px;
}