@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 0.5px;
}

body {
    background-color: rgb(21, 20, 20);
}

#navbar {
    background-color: rgb(246, 249, 252);
    /* padding: 5px; */
}

#app-name {
    display: inline;
    position: relative;
    bottom: 37px;
    margin-left: 20px;
    color: black;
    font-weight: 700;
}

#signout {
    float: right;
    position: relative;
    top: 37px;
    right: 50px;
}

.work-area {
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

@media (max-width:720px){
    .work-area {
        width: 100%;
    }
}

@media (max-width:360px){
    .work-area {
        flex-direction: column;
    }

    .work-area > .work-tab{
        margin-bottom: 20px;
    }
}

.fingerprint {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
}

.fingerprint:hover {
    background-color: rgb(36, 36, 36);
    border-radius: 50%;
}

.icon:hover {
    text-decoration: underline;
}