form {
    position: absolute;
    width: 25%;
    left: 50%;
    top: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
}

form > label {
    display: flex;
    justify-content: space-between ;
    margin-bottom: 20px;
}

form > label > input, textarea {
    color: black;;
}

form > label > p {
    margin-right: 30px;
}

#submit-btn {
    color: black;
    padding: 3px 20px;
    margin-top: 20px;
    position: inherit;
    margin: auto;
}

input[type="submit"] {   
    color: black;
    margin: auto;
    padding: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}